article {
  background-color: #282620;
  padding: 1rem;
  border-radius: 4px;
  border-left: 8px solid #232323;
  background-color: #211f1a;
}

header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

h3 {
  color: #efede4;
  margin: 0;
}

header p {
  margin: 0;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.15rem 0.25rem;
  color: #282620;
  border-radius: 4px;
}

.status-open header p {
  background-color: #fff;
}

.status-in-progress header p {
  color: #fff;
  border: 1px solid #fff;
}

.status-done header p {
  background-color: #434343;
  color: #d2d2d2;
}

p {
  color: #c3c0b9;
  margin: 0;
  margin-bottom: 1rem;
}

form {
  text-align: right;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

select {
  font: inherit;
  padding: 0.15rem;
  border: none;
  background-color: #575754;
  color: #fefefe;
  border-radius: 0.25rem;
  font-size: 0.75rem;
}

button {
  padding: 0.3rem 0.6rem;
  border: 1px solid;
  background-color: transparent;
  color: #ffffff;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #4e4e4e;
}
