form {
  width: 30rem;
  padding: 2rem;
  border-radius: 4px;
  background-color: #21201b;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  height: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem;
}

label {
  display: block;
  margin-bottom: 0.15rem;
  font-weight: bold;
  color: #ffe055;
}

input,
textarea {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border: none;
  background-color: #545144;
  color: #ffe055;
  border-radius: 0.25rem;
}

#actions {
  text-align: right;
}

button {
  font: inherit;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #ffe055;
  color: #2c2a21;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #ffd92d;
}
