:host {
  display: block;
  border-radius: 4px;
  background-color: #3c3c3b;
  width: 71%;
  padding: 1rem 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

h2 {
  margin: 0;
  color: #f2e5ab;
  font-size: 1rem;
  text-transform: uppercase;
}

select {
  font: inherit;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #262521;
  color: #ffeeb5;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
}

ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  height: calc(100% - 9rem);
  overflow: auto;
}
